@media(min-width: 1920px) {
                .hidden-ayqnlw {
                    display:none!important
                }
            }

            @media(min-width: 1440px) and (max-width: 1919.98px) {
                .hidden-8l4zif {
                    display:none!important
                }
            }

            @media(min-width: 1200px) and (max-width: 1439.98px) {
                .hidden-72rtr7 {
                    display:none!important
                }
            }

            @media(min-width: 810px) and (max-width: 1199.98px) {
                .hidden-1lmndnn {
                    display:none!important
                }
            }

            @media(max-width: 809.98px) {
                .hidden-1fqmtcv {
                    display:none!important
                }
            }
